{erl_opts, [fail_on_warning,
            debug_info,
            {platform_define, "^(R14|R15|R16B|17)", 'random_module_available'}
           ]}.

{escript_emu_args, "%%! -hidden -noinput +A 20 +Bc"}.

{ deps, [
    {cecho, ".*",
      {git, "https://github.com/mazenharake/cecho.git", {tag, "0.5.1"}}
    }
  ]
}.
